/var/log/optiohire/optiohire.log {
    daily
    rotate 7
    compress
    delaycompress
    missingok
    notifempty
    create 0640 {{USER}} {{USER}}
    sharedscripts
    postrotate
        /bin/systemctl reload optiohire > /dev/null 2>/dev/null || true
    endscript
}
